# Exercício 1 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) e depois faça uma chamada à função para listar os números

In [2]:
def listarPares ():
    for i in range (2, 21, 2):
        print(i)

listarPares()

2
4
6
8
10
12
14
16
18
20

# Exercício 2 - Crie uma função que receba uma string como argumento e retorne a mesma string em letras maiúsculas. Faça uma chamada à função, passando como parâmetro uma string

In [3]:
def retornaMaiusculas (texto):
  return texto.upper()

resultado = retornaMaiusculas("estou aprendendo python")
print(resultado)

ESTOU APRENDENDO PYTHON

# Exercício 3 - Crie uma função que receba como parâmetro uma lista de 4 elementos, adicione 2 elementos a lista e imprima a lista

In [4]:
def adicionaElementos(lista):
  lista.append(5)
  lista.append(6)

minhaLista = [1, 2, 3, 4]
adicionaElementos(minhaLista)
print(minhaLista)

[1, 2, 3, 4, 5, 6]

# Exercício 4 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas à função, com apenas 1 elemento e na segunda chamada com 4 elementos

In [8]:
def minhaFuncao(arg1, *args):
  print("Argumento 1: ", arg1)
  for arg in args:
    print("Argumento extra: ", arg)

minhaFuncao("valor1")
minhaFuncao("valor2", "extra1", "extra2", "extra3")

Argumento 1:  valor1
Argumento 1:  valor2
Argumento extra:  extra1
Argumento extra:  extra2
Argumento extra:  extra3

# Exercício 5 - Crie uma função anônima e atribua seu retorno a uma variável chamada soma. A expressão vai receber 2 números como parâmetro e retornar a soma deles

In [10]:
#função normal:

def Soma(n1, n2):
  soma = n1 + n2
  return soma

Soma(2,3)

5

In [11]:
#função anônima

soma = lambda x, y: x + y
soma(2,3)

5

# Exercício 6 - Execute o código abaixo e certifique-se que compreende a diferença entre variável global e local
total = 0
def soma( arg1, arg2 ):
    total = arg1 + arg2; 
    print ("Dentro da função o total é: ", total)
    return total;


soma( 10, 20 );
print ("Fora da função o total é: ", total)

In [12]:
total = 0
def soma( arg1, arg2 ):
    total = arg1 + arg2; 
    print ("Dentro da função o total é: ", total)
    return total;


soma( 10, 20 );
print ("Fora da função o total é: ", total)

Dentro da função o total é:  30
Fora da função o total é:  0

# Exercício 7 - Abaixo você encontra uma lista com temperaturas em graus Celsius
# Crie uma função anônima que converta cada temperatura para Fahrenheit
# Dica: para conseguir realizar este exercício, você deve criar sua função lambda, dentro de uma função 

Celsius = [39.2, 36.5, 37.3, 37.8]

In [13]:
def converter_para_fahrenheit(lista_celsius):
    # Definir função anônima para converter Celsius para Fahrenheit
    to_fahrenheit = lambda celsius: (celsius * 1.8) + 32

    # Iterar sobre a lista de Celsius e aplicar a função anônima
    lista_fahrenheit = list(map(to_fahrenheit, lista_celsius))

    return lista_fahrenheit

temperaturas_celsius = [39.2, 36.5, 37.3, 37.8]
temperaturas_fahrenheit = converter_para_fahrenheit(temperaturas_celsius)
print(temperaturas_fahrenheit)

[102.56, 97.7, 99.14, 100.03999999999999]

# Exercício 8 - Crie uma list comprehension que imprima o quadrado dos números de 1 a 10

In [16]:
quadrado = [x**2 for x in range (1,11)]
print(quadrado)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Exercício 9 - Crie uma list comprehension que imprima as palavras com a letra a no nome
palavras = ["maça", "coiote", "banana", "terreno", "Python"]

In [18]:
palavras = ["maça", "coiote", "banana", "terreno", "Python"]

palavra_com_a = [palavra for palavra in palavras if 'a' in palavra.lower()]
print(palavra_com_a)

['maça', 'banana']

# Exercício 10 - Crie uma list comprehension que imprima os números menores que 5 em um intervalo de 1 a 10

In [19]:
lista_menores = [a for a in range (1,11) if a < 5]
print(lista_menores)

[1, 2, 3, 4]